.bg1 {
    background-image: url("/assets/bg-img1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: 45vh;
    top: 55%;
    right: 1%;

}

.bg2 {
    background-image: url("/assets/bg-img2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: 50vh;
    top: 75%;
}

h1 {
    padding-top: 1.5%;
    font-size: 3rem;
    margin-bottom: 0;
}

button.x-centered {
    margin-top: 6%;
}

.section {
    margin: 0;
    padding: 4%;
}

.title {
    color: #001f3f;
    font-size: 2.2rem;
}

.title__item,
.link a {
    color: #0074d9;
}

.title__user {
    color: #3d9970;
}

.annot {
    font-size: 1.5rem;
}

.link {
    font-size: 1.75rem;
}

.link a:hover,
.link a:active,
.link a:focus {
    color: #7fdbff;
}

img,
iframe {
    max-width: 100%;
}

.stats {
    font-size: 1.5rem;
}

.stats__item {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.stats__item__text {
    color: #6b6cbb;
}

.stats__item .dance {
    height: 4.5vh;
    width: 30%;
    border-radius: 4px;
}

.footer {
    height: 11.5vh;
    font-size: 1.25rem;
    padding: 0.5% 0;
}

.footer h4 {
    font-size: 1.5rem;
    margin-top: 0;
}

.footer__social {
    margin: 0;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    .bg1 {
        background-position: right;
        height: 35vh;
        width: 35%;
        top: 35%;
        right: 2%;
    }

    .bg2 {
        background-position: left;
        height: 35vh;
        width: 35%;
        top: 55%;
        left: 2%;
    }

    .section {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .title {
        font-size: 3.25rem;
    }

    .annot {
        font-size: 1.8rem;
    }

    .link {
        font-size: 2.25rem;
    }

    .stats {
        font-size: 1.75rem;
        display: flex;
    }

    .stats__item .dance {
        height: 100%;
    }
}