button.x-centered {
    margin-top: 15%;
}

.section {
    margin: 0;
    padding: 4%;
}

.title {
    color: #001f3f;
    font-size: 2.2rem;
}

.title__item,
.link a {
    color: #0074d9;
}

.title__user {
    color: #3d9970;
}

.annot {
    font-size: 1.5rem;
}

.link {
    font-size: 1.75rem;
}

.link a:hover,
.link a:active,
.link a:focus {
    color: #7fdbff;
}

img,
iframe {
    max-width: 100%;
}

.footer h4 {
    margin-top: 2%;
}

@media (min-width: 768px) {
    .title {
        font-size: 3.75rem;
    }

    .annot {
        font-size: 1.8rem;
    }

    .link {
        font-size: 2.25rem;
    }
}